.profile-card {
	max-width: 700px;
	margin: 50px auto 0 auto;
	padding: 20px 40px 30px 40px;
	background-color: white;
	border-top: 4px solid #06c;
}

.profile-title {
	font-size: 24px;
	font-weight: 300;
	text-align: center;
	margin: 10px 0 20px 0;
}

.profile-btn-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.profile-btn {
	width: 300px;
	margin-bottom: 10px;
}

.ant-form-vertical .ant-form-item-label {
	padding: unset;
}

.ant-form-vertical .ant-form-item-label > label {
	font-size: 12px;
}