.header-btn-container {
	display: flex;
	justify-content: flex-end;
	position: relative;
	top: 33px;
	margin-right: 33px;
}

.header-title {
	font-size: 29px;
	color: white;
	letter-spacing: 3px;
	line-height: 1.2em;
	white-space: nowrap;
	text-align: center;
}